.select-cliente {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 20 20' width='20'><path d='M5 7l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.seeelect{
    height: 46px;
    border-radius: 5px;
    color: #94A3B8;
    background-color: #F8FAFC;
    border: #E2E8F0;
}