.Cardtam{
    width: 900px;
}

.gp-10{
    gap: 10px;
}

@media (min-width: 765px) and (max-width: 1000px) {
    .espacomenor{
        gap: 40px;
    }
}

@media (min-width: 765px) and (max-width: 1000px) {
    .espacogrande{
        gap: 13px;
        flex-flow: wrap;
    }
}

.gap130{
    gap: 130px;
}

.gap28{
    gap: 22px;
}

.cardestilo{
    box-shadow: 5px 6px 20px 3px #d0d0d0;
    border-radius: 10px;
}